.setmeup{
    
    
    height: 1000px;
    width: 100%;
}
.parallax {
    /* The image used */
    background-image: url("pic address");
    height: 100%;
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}   